#container{
	
	font-size:120%;
	font-family:sans-serif;
	margin:0 auto;
	max-width: 50em;
	background-color:#fff;
	
	
border-radius: 18px;
border: 1px solid #eee;
padding-left: 2%;
padding-right: 2%
}
a{
	text-decoration:none;
	color:f0ad2c;
}
a:hover{
	color:black;
}
.cover{
	
background-size: cover;
	background-image:url('pic.jpg');
	color:white;
	width:100%;
	
	height:100%;
}
#head{
	width:100%;
	font-size:80px;
	font-family:sans-serif,"Rubik";
	margin:auto;
	max-width:50em;
	position:absolute;
	text-align:center;
	top:400px;
	font-weight:900;
}
#head1{
	font-size:60px;
	font-family:sans-serif,"Rubik";
	font-weight:700;
	padding-left:30px;
	padding-top:30px;
	margin-bottom:0;
}
#head2{
	padding-left:30px;
	margin-top:0;	 
}

body{
	margin:0 auto;
background-color:e5e5e5;
}
